/*** BASE STYLES ***/

body {
    color:#2b2b2b;
    font-family:'Source Sans Pro', sans-serif;
}

/*** GRID ***/

.full-width { 
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}
.half-width {
    float: left; 
    width: 600px;
}
.third-width {
    float: left;  
    width: 400px;
}

/*** HEADER ***/
header {
    background-image: url("../img/full-background.png");
    background-size: cover;
    background-position: center; 
    height: 800px;
}
header h1 {
    color: #bbc085;
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 65px 0 65px 25px;
}
nav {
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration:none;
    font-size: 18px; 
    color: #828282;
    padding-left: 80px; 
}
header h2 {
    width: auto;
    clear:both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px; 
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #2b2b2b;
    font-size: 72px;
}

/*** ABOUT ***/

#about .full-width {
    padding: 80px 0;
    font-family: 'Lora', serif;
}
#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}
#about p {
    font-family: 'Source Sans Pro';
    font-size: 21px;
    color:#7f7f7f;
    line-height: 40px;
    padding-left:50px;
    padding-right:50px;
}

/*** WORK ***/

#work {
    background:#f9ceb7;
    text-align: center;
}
#work .full-width {
    padding: 115px 0;
}
#work img {
    padding-bottom: 30px;
}
#work h3 {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}
#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/*** CONTACT ***/

#contact {
    background:#ebebeb;
}
#contact .full-width {
    padding: 110px 0;
}
#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
    float: left;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header {
    font-family: 'Source sans pro';
    font-size: 32px;
    font-weight: 400px;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
    display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}